body{
    
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 0;
    z-index: 0;
    transition: 0.5s;
}

#content{
    
    width: 80%;
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 10%;
    
}


.canvasHolder{
    width: 10%;
    height: 2000px;
    border: 1px solid black;
}

#entireBody{
    display: flex;
}

#text{
    margin:0;
    font-size: 250%;
    padding: 5%;
}

#icon{
    font-weight: bold;
    font-size: 200%;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 12%;
    color: purple;
}

#header{
    display: block;
    display: flex;
    border-bottom: 3px solid grey;
    margin-bottom: 0;
}

#innerNavigation{
    display: flex;

    margin-left: 18%;
    width: 100%;
    margin-right: 9%;
}

.links{
    color: black;
    text-decoration: none;
    width: auto;
    text-align: center;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 150%;
  
    transition:0.5s;
}
.links:hover{
    color: white;
    background-color: #ffb700;
    
    transition: 0.5s;
}

#title{
    text-align: center;
    font-size: 250%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#subtitle{
    text-align: center;
    opacity: 0.9;
    font-size: 150%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3%;
}

.sectionTitle{
    font-size: 200%;
    border-bottom: 2px solid black;
    padding-bottom: 1%;
}

.flexSectionTitle{
    
    display: flex;
}

#testDiv{
    height: 300px;
    width: 300px;
    background-size: 300px;
    border: 2px solid black;
    background-image: url("https://pitchk.github.io/h/fv6_finished.svg");
    transition: 0.5s;
}

#testDiv:hover{
    transform: rotate(90deg);
    transition: 0.5s;
}

.explore{
    color: white;
    background-color: orange;
    font-size: 150%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    text-decoration: none;
}

.linkHolder{
    text-align: center;
    margin-top: 4%;
    padding-bottom: 4%;
}

#line{
    margin-left: 30%;
    margin-right: 30%;
}

.sectionSubtitle{

    opacity: 0.9;
    font-size: 135%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.section{
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
    margin-bottom: 5%;
}


.flexContainer{
    display: flex;
}

.indivFlexContainer{

    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 28%;
    border: 2px solid grey;
}

.images{
    width: 100%;
    z-index: 1;

}

.modelTitle{
    font-size: 150%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

.modelTitleDescription{
    opacity: 0.9;
    font-size: 110%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    height: 80px;
}

.flexDifficulty{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    margin-bottom: 5%;
    font-size: 125%;
    
}

.difficultyVisual{
    background-color: #b6c2b9;
    width: 60%;
    border-radius: 20px;
    margin-left: 10%;
    padding-left: 5%;
}

.watchLink{
   
    font-size: 135%;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
}

.betweenLinks{
    margin-top: 5%;
    margin-bottom: 5%;
}

.linkContainers{
    text-align: center;
    display: flex;
    background-color: orange;
    justify-content: center;
    text-decoration: none;
    border-radius: 22.5px;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.ninjastar{
    height: 45px;
    width: 45px;
    background-size: 45px;
    margin-top: 1%;
    margin-bottom: 1%;
    background-image: url("https://pitchk.github.io/h/ninjastar.svg");
    transition: 0.5s;
}

.linkContainers:hover .ninjastar{
    transform: rotate(180deg);
    transition: 0.5s;
}

.linkContainers:hover{
    background-color: #ffbf00;
    transition: 0.5s;
}


iframe{
    width: 100%;
    height: 1500px;
}

#mobileHeader{
    display: none;
}

#mobileHeaderOpen{
    display: none;
}
@media only screen and (orientation: portrait){
    #content{
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .flexContainer{
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .indivFlexContainer{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 5%;
    }

    .sectionTitle{
        font-weight: bold;
    }

    #title{
        margin-left: 5%;
        margin-right: 5%;
        font-size: 7vw;
        padding-top: 17%;
    }

    #subtitle{
        margin-left: 10%;
        margin-right:10%;
        font-size: 4vw;
        margin-bottom: 4%;
    }

    #mobileHeader{
        display: block;
        display: flex;
        border-bottom: 2px solid purple;
        /*position: fixed;*/
        position: fixed;
        background-color: white;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        z-index: 3;
        top: 0;
    }

    #header{
        display: none;
    }

    #menu{
        font-size: 175%;
        margin-left: 4%;
       
        margin-top: 0;
        color: purple;
        width: 40px;
        height: 40px;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 1%;
        
        transition: 0.7s;
    }

    #menu:hover{
        
        color: purple;
        background-color:whitesmoke;
        transition: 0.7s;
        cursor: pointer;
    }

    #icon{
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 2%;
        font-size: 150%;
    }

    #mobileHeaderOpen{
        display: block;
        background-color:  #ffb700;
        box-sizing: border-box;
        border-right: 4px solid white;
        border-left: 4px solid white;
        position: absolute;
        z-index: 2;
        margin-left: 0;
        margin-right: 0;
        width: 100%;

        display: none;
        position: fixed;
        margin-top: 10%;
    }

    .mobileLinks{
        font-size: 125%;
        padding: 5%;
        color: white;
        text-decoration: none;
    }
    .headerLinkHolder{
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .headerLinkHolder:hover{
        background-color: purple;
    }

    .mobileLinks:hover{
        text-decoration: underline;
        font-weight: bold;
    }

    #mobileMenu{
        font-size: 150%;
        text-decoration: underline;
        margin-top: 1%;
        margin-bottom: 1%;
        padding-left: 5%;
        padding-bottom: 1%;
        
    }

    #subtitle{
        font-size: 110%;
    }

    .sectionTitle{
        font-size: 135%;
    }

    .sectionSubtitle{
        font-size: 4.5vw;
    }

    #title{
        margin-bottom: 2%;
    }
}